body{
    margin: 0;
    padding: 0;
}

.formelements{
    height: 900px;
    border: 1px solid black;
    width: 900px;
    padding: 60px;
    position: relative;
    margin:100px auto;
}

.form-control {
    margin-bottom: 15px;
}

#dayerror, #montherror, #yearerror, #check-boxerror{
    color: red;
    font-weight: bold;
    height: 2px;
}

.btn{
    margin-top: 30px;
}